@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base;
  }
}
input:focus + .error-input{
  display: none;
}
input:focus {
  @apply text-text1 dark:text-white
}